<section id="app">
  <h2>Posts</h2>
  <ul>
    <li v-for="post in posts"><a :href="`/${post.Id}/post`">{{ post.Title }}</a></li>
  </ul>
  <form @submit="onSubmit">
    <div>
      <label>Registro</label>
      <input 
        type="text" 
        v-model="user" 
        name="user" 
        placeholder="Usuario" 
      />
    </div>
    <div>
      <label>Adicionar comentario</label>
      <input
        type="text"
        v-model="comment"
        name="comment"
        placeholder="Digite um comentario"
      />
    </div>
    <input 
      type="submit" 
      value="Add comment"
    />
  </form>
</section>

<script>
  var http = axios.create({
    baseURL: "<%- apiUrl%>",
    timeout: 10000,
  });

  var app = new Vue({
    el: "#app",
    data: {
      posts: [],
      user: '',
      comment: ''
    },
    methods: {
      loadPosts() {
        http.get("/posts").then((response) => {
          this.posts = response.data;
        });
      },
      onSubmit(e){
        e.preventDefault()
        console.log(e.target)
        if(!this.user){
            alert('Por favor, digite seu usuario!')
            return
        }

        http.post("/comments", { user: 'user', comment: 'comment' }).then((response) => {
          console.log(response.data);
        })
      }
    },
    mounted() {
      this.loadPosts();
    },
  });
</script>
